* {
    box-sizing: border-box;
}

.block-modal-test{
    width: 250px;
    height: 340px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

.form-slider{
    width: 500px;
    height: 340px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    transition: .5s all ease-in-out;
    
}

.form-slider-left{
    width: 50%;
    padding: 10px;
}

.form-slider-right{
    width: 50%;
    max-height: 340px;
    overflow-y: scroll;
    padding: 5px;
    padding: 10px;
}

.read-rules, .read-rules-back{
    cursor: pointer;
    transition: .5s all ease-in-out;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
}

.read-rules-back{
    justify-content: flex-start;
}

.read-rules:hover, .read-rules-back:hover {
    color: indigo;
    transition: .5s all ease-in-out;
}