.tabs{
    border: 1px solid grey;
    padding: 10px;
    margin: 50px;
}

.active{
    font-weight: bold;
    border: 1px solid black;
}

li{
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    padding: 10px 20px;
}

.tabs ul {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}

.block-1{
    width: 150px;
    height: 150px;
    background-color: bisque;
    border: 2px solid grey;
    margin: 50px;
}

.red {
    background-color: red;
}

.green{
    border: 4px solid green;
}

.line{
    padding: 10px;
    border: 1px solid black;
}

.sq{
    width: 50px;
    height: 50px;
    background-color: black;
}